@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper-pagination-bullet-active{
    background-color: #4d774e!important;
}

@media only screen and (min-width: 720px) {
    .team-card:nth-child(even){
        position: relative;
        top: 30px;
    }
  }